/* ESTILOS GENERALES */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.actividad {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* ACTIVIDAD 1 */
.btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
}

/* Hover */
.hover-btn:hover {
    background-color: lightblue;
}

/* Focus */
.focus-btn:focus {
    background-color: lightgreen;
    outline: 2px solid green;
}

/* Active */
.active-btn:active {
    background-color: rgb(255, 180, 90);
    transform: scale(0.95);
}

/* ACTIVIDAD 2 */
.lista-actividad2 li:first-child {
    color: blue;
    font-weight: bold;
}

.lista-actividad2 li:last-child {
    color: red;
    font-weight: bold;
}

.lista-actividad2 li:nth-child(3) {
    background-color: yellow;
}

/* ACTIVIDAD 3 */
.parrafo-editorial::first-letter {
    font-size: 30px;
    color: tomato;
    font-weight: bold;
}

.parrafo-editorial::first-line {
    color: gray;
    font-style: italic;
}

/* ACTIVIDAD 4 */
.titulo-decorado::before {
    content: "★ ";
    color: gold;
}

.titulo-decorado::after {
    content: " ★";
    color: gold;
}

/* ACTIVIDAD 5 */
.tarjeta {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.tarjeta-titulo::before {
    content: "→ ";
    color: #444;
}

.tarjeta-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #008cff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.tarjeta-btn:hover {
    background-color: #006fcc;
}

.tarjeta-btn:active {
    transform: scale(0.95);
}
